/*VARS COLORS*/
$color1:#fccfa6;
$color2:#fdb3a5;
$color3:#fe97a4;
$color4:#fe7ba3;
$color5:#ff5fa2;

/*VARS COLORS*/
/*MIXINS*/
@mixin tamano($width, $height) {
    width: $width;
    height: $height;
}

* {
    margin: 0px;
    padding: 0px;
}

.head {

    .head__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            @include tamano(auto, 100px);
        }

        .menu-btn {
            position: absolute;
            right: 20px;
            cursor: pointer;
            display: none;
        }
    }


    .menu__nav {

        .menu__lista {
            font-size: 20px;
            list-style: none;
            list-style-type: none;
            display: flex;
            justify-content: end;
            align-items: center;

            li {
                transition: 0.9s;

                a {
                    transition: 0.41s;
                }

                :hover {
                    color: #fe97a4;
                    border-radius: 15px;
                    font-weight: bold;
                    padding: 0 13px 0 13px;
                    transition: 0.41s;
                }
            }

            .menu__link {
                color: #000000;
                text-decoration: none;
                font-size: 17px;
                padding: 0.5em;
                word-spacing: 6.5em;
                font-family: 'Playfair Display', serif;


            }
        }
    }

}

main {
    background-color: #ece8e1;

    .titulo {
        padding: 5%;
        text-align: center;
        font-family: 'Playfair Display', serif;
        letter-spacing: 2px;
        font-size: 3.3rem;
        font-weight: 500;
        color: Scolor2;
        text-transform: uppercase;
    }
}

.titulo--2 {
    text-align: center;
    font-family: 'Playfair Display', italic;
    font-weight: bold;
    font-size: 1,5rem;
    color: $color4;
}

.discografia {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


    .discografia__caja {
        @include tamano(33%,auto);
        padding: 3%;

        .caja__info {
            color: $color2;
            text-align: center;
            font-family: 'Fredoka One', cursive;
            padding: 5% 0 1% 0;
        }


        .caja__disco {
            @include tamano(100%, auto);
            margin-top: 10px;
            border-radius: 5%;
            padding: 15px;
            display: flex;
            justify-content: space-evenly;

            .disco__img {
                @include tamano(60%, auto);

                img {
                    @include tamano(100%, auto);
                }
            }

            .disco__iframe {
                @include tamano(40%, auto);
                margin: 3%;

            }
        }
    }
}

.footer {
    padding: 1% 0 1%;
    background-image: linear-gradient(to bottom, #fccfa6, #fdb3a5, #fe97a4, #fe7ba3, #ff5fa2);
    height: 100%;
    width: auto;
    display: grid;
    grid-template-columns: 20% 40% 20%;
    grid-template-rows: 100%;
    grid-template-areas: "info_footer foot1 foot2";
    align-items: center;
    justify-content: center;


    #logoPP {
        width: 80px;
    }


    .footer__caja {
        grid-area: foot1;
        text-align: center;

        a {
            text-decoration: none;
            color: #fccfa6;
        }

        #logoPP {
            @include tamano(80px, auto);
        }

        img {
            @include tamano(auto, 100px);
        }

        .caja__icons {
            padding: 2%;

            a {
                text-align: center;
                transition: 0.6s;


                i {
                    text-align: center;
                    margin: 5px;
                    width: 20px;

                }
            }


        }

        a:hover {

            color: #ffffff;
            padding: 15px;
            transform: rotate(360deg);
            transition: 0.6s;

        }

    }

    .info_footer {
        grid-area: info_footer;
        @include tamano(100%, auto);

        h4 {
            color: #ffffff;
            font-family: 'Playfair Display', italic;
            font-weight: bold;
            font-size: 1, 5rem;
        }

        #suscribirse {
            width: 60%;
            @include tamano(60%, auto);
            border-radius: 5px;
            padding: 2%;
        }

        #enviar {
            padding: 3%;
            @include tamano(10%, auto);
            min-width: 90px;
            background-color: $color1;
            font-weight: 600;
            color: black;
            border: none;
            border-radius: 5px;
            margin: 2%;
        }
    }

}

.foot2 {
    grid-area: foot2;
    border-left: 1px solid white;
    margin: 4% 0 4% 0;

    .foot__nav {
        list-style: none;


        li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a {
                text-decoration: none;
                color: white;
                font-family: 'Playfair Display', serif;
                padding: 10%;
                transition: 0.41s;

            }

            :hover {
                color: #000000;
                border-radius: 15px;
                font-weight: bold;
                padding: 13px 0 13px 0;
                transition: 0.41s;
            }
        }
    }
}

/*FIN FOOTER*/

@media only screen and(max-width:600px) {

    .head {
        .head__menu {

            .logo {
                @include tamano(50px, auto);
            }

            .menu-btn {
                display: block;
                color: #000;
            }
        }



        .menu__nav {

            ul.menu__lista {
                @include tamano(auto, 100%);
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                background: #ff5fa2;
                padding: 30px;
                opacity: .9;
                transform: translateX(-600px);
                transition: transform .5s ease-in-out;

                &.show {
                    transform: translateX(0px);
                }

                li.menu__item {

                    padding: 10px;

                    a {
                        color: #ffffff;
                    }

                }

            }

        }

    }

    .contenedor {
        background-color: #ece8e1;

        .titulo {
            font-size: 2.6rem;
        }
    }

    .discografia {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        .discografia__caja {
            @include tamano(90%, auto);
            padding: 3%;

            .caja__info {
                color: $color2;
                text-align: center;
                font-family: 'Fredoka One', cursive;
                padding: 5% 0 1% 0;
            }


            .caja__disco {
                @include tamano(100%, auto);
                margin-top: 10px;
                border-radius: 5%;
                padding: 15px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;

                .disco__img {
                    @include tamano(100%, auto);

                    img {
                        @include tamano(100%, auto);
                    }
                }

                .disco__iframe {
                    @include tamano(85%, 190px);
                    height: 190px;
                    margin: 3% 0;

                }
            }
        }
    }

    .footer {
        padding: 1% 0 1%;
        background-image: linear-gradient(to bottom, #fccfa6, #fdb3a5, #fe97a4, #fe7ba3, #ff5fa2);
        @include tamano(auto, 100%);
        display: grid;
        grid-template-rows: repeat(3, 0.5fr);
        grid-template-columns: 100%;
        grid-template-areas: "foot1"
            "foot2"
            "info_footer";


        .footer__caja {
            grid-area: foot1;
            @include tamano(100%, auto);
            text-align: center;

            a {
                text-decoration: none;
                color: white;
            }

            #logoPP {
                @include tamano(80px, auto);

            }

            img {
                @include tamano(auto, 100px);
            }

            .caja__icons {
                padding: 2%;


                a {
                    text-align: center;
                    color: black;
                    transition: 0.6s;


                    i {
                        text-align: center;
                        margin: 5px;
                        @include tamano(20px, auto);

                    }
                }


            }

            a:hover {
                color: #ffffff;
                padding: 15px;
                transform: rotate(360deg);
                transition: 0.6s;
            }

        }

        .info_footer {
            grid-area: info_footer;
            @include tamano(50%, auto);

            h4 {
                color: #ffffff;
                font-family: 'Playfair Display', italic;
                font-family: 'Playfair Display', italic;
                font-weight: bold;
                font-size: 1, 5rem;
            }

            #suscribirse {
                @include tamano(80px, auto);
                border-radius: 5px;
                padding: 2%;
            }

            #enviar {
                padding: 3%;
                width: 10%;
                min-width: 90px;
                background-color: $color1;
                font-weight: 600;
                color: black;
                border: none;
                border-radius: 5px;
                margin: 2%;
            }
        }


    }

    .foot2 {
        grid-area: foot2;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: none;
        display: block;

        ul {
            list-style: none;
            padding: 0%;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                a {
                    text-decoration: none;
                    color: white;
                    padding: 10%;
                    transition: 0.41s;

                }

                :hover {
                    color: #000000;
                    border-radius: 15px;
                    font-weight: bold;
                    padding: 13px 0 13px 0;
                    transition: 0.41s;
                }
            }
        }
    }









}

@media only screen and(min-width:600px) {
    .head {
        .head__menu {

            .logo {
                @include tamano(70px, auto);
            }

            .menu__nav {

                .menu__lista {
                    font-size: 30px;
                    display: flex;
                    justify-content: flex-end;
                    @include tamano(60px, auto);

                    li :hover {
                        color: #fe97a4;
                        border-radius: 15px;
                        font-weight: bold;
                        padding: 0 13px 0 13px;
                    }

                    .menu__link {
                        font-size: 16px;
                        padding: 0.5em;
                        word-spacing: 6.5em;
                        font-family: 'Playfair Display', serif;


                    }
                }
            }
        }

    }

    .discografia {
        @include tamano(100%, auto);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;


        .discografia__caja {
            @include tamano(100%, auto);
            padding: 3% 0;

            .caja__info {
                color: $color2;
                text-align: center;
                font-family: 'Fredoka One', cursive;
                padding: 0 1% 0;
            }


            .caja__disco {
                @include tamano(100%, auto);
                margin-top: 10px;
                padding: 2%;
                border-radius: 5%;
                display: flex;
                justify-content: space-evenly;
                


                .disco__img {
                    @include tamano(50%, auto);
                    justify-self: center;

                    img {
                        @include tamano(100%, auto);

                    }
                }

                .disco__iframe {
                    @include tamano(40%, auto);
                    margin: 2%;

                    iframe {
                        @include tamano(100%, 100%);
                    }

                }
            }
        }
    }

    .info_footer {
        p {
            color: #ffffff;
            margin: 0;
            font-size: 12px;
        }
    }
}

@media only screen and(min-width:900px) {
    .head {
        .head__menu {
            .logo {
                @include tamano(auto, 70px);
            }
        }
    }

    .discografia {
        @include tamano(100%, auto);
        display: flex;
        flex-wrap: wrap;
        align-content: center;

        .discografia__caja {
            @include tamano(45%, auto);

            padding: 2%;

            .caja__info {
                color: $color2;
                text-align: center;
                font-family: 'Fredoka One', cursive;
                padding: 5% 0 1% 0;
            }


            .caja__disco {
                @include tamano(100%, auto);
                margin-top: 10px;
                border-radius: 5%;
                padding: 15px;
                display: flex;
                justify-content: space-evenly;

                .disco__img {
                    @include tamano(60%, auto);

                    img {
                        @include tamano(100%, auto);
                    }
                }

                .disco__iframe {
                    @include tamano(40%, auto);
                    margin: 3%;

                }


            }
        }
    }


}