* {
    margin: 0;
    padding: 0;
}

/*Fin Header*/
header {
    height: 760px;
}

.logo {
    height: 100px;
}

.head {
    background: url("../img/twice-alcohol-free-all-members-4k-wallpaper-3840x2160-uhdpaper.com-411.0_a.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.menu_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-btn {
    position: absolute;
    right: 20px;
    cursor: pointer;
    display: none;
}

.menu ul {
    font-size: 20px;
    list-style: none;
    list-style-type: none;
    display: flex;
    justify-content: end;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding: 0.5em;
    word-spacing: 6.5em;
    font-family: 'Playfair Display', serif;
}

/*Fin Header*/

/*Inicio Section*/
section {
    background-color: #ece8e1;
    padding-bottom: 70px;
}

hr {
    color: #fccfa6;
}

.titulo {
    font-size: 2.8rem;
    color: #fdb3a5;
    padding: 5%;
    text-align: center;
    font-family: 'IBM Plex Sans', serif;
    letter-spacing: 2px;
    font-weight: 500px;
    text-transform: uppercase;
}

.carrusel_noticias {
    margin: 0.5%;
    display: flex;
    justify-content: space-around;
}

.card_noticias {
    height: 300px;
    width: 80%;

}

.card_noticias img {
    height: 300px;
    width: auto;

}

.infoNews {
    margin: 0 15px;
    font-family: 'IBM Plex Sans', serif;
    font-size: 15px;
    width: auto;
}

.infoNews time {
    color: #ff5fa2;
    font-weight: bold;
    font-family: initial;
}

.infoNews p {
    margin: 15px 0;
}


.carrusel_fotos {
    margin: 0.5%;
    display: flex;
    justify-content: space-around;
}

.card_fotos {
    height: auto;
    width: 25%;

}

.card_fotos img {
    height: auto;
    width: 80%;
}

#doble {
    margin-top: 0px;
}

.verMas {
    font-family: 'IBM Plex Sans', serif;
    margin: 50px 0 25px 0;
}

.verMas__lista {
    display: flex;
    justify-content: center;

}

.verMas__item {
    padding: 5px;
}

.verMas__item a {
    padding: 0;
    color: #fe97a4;
    text-decoration: none;

}

.verMas__item :hover {

    transition: 1s;
}

.verMas__lista .verMas__item :hover {
    color: #fccfa6;
    padding: 0 50px;

}


/*FIN SECTION*/
/*INICIO FOOTER*/



.grilla_foot {
    padding: 1% 0 1%;
    background-image: linear-gradient(to bottom, #fccfa6, #fdb3a5, #fe97a4, #fe7ba3, #ff5fa2);
    height: 285px;
    width: auto;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 50% 50%;
    grid-template-areas: ". foot1 foot2"
        ". info_footer foot2";
    justify-items: center;
    align-items: center;
}


#foot1 {
    grid-area: foot1;
    justify-items: center;
    text-align: center;
}

#logoPP {
    width: 80px;
    height: auto;
}

.info_footer {
    grid-area: info_footer;
    text-align: center;
    width: 60%;
}

.info_footer a {
    text-decoration: none;
    color: #5d1dbd;
}

.info_footer p {
    color: #ffffff;
    margin: 0;
}

.icons a {
    color: #000000;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 10% 0 0 0;

}

.icons a:hover {
    color: #ffffff;
    transform: rotate(360deg);
    transition: 1s;
}


.foot2 {
    grid-area: foot2;
    border-left: 1px solid white;
}

.foot2 ul {
    list-style: none;

}

.foot2 ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot2 ul a {
    text-decoration: none;
    color: white;
    padding: 10%;
}

.foot2 ul li a:hover {
    color: #000000;
    border-radius: 15px;
    font-weight: bold;
    padding: 13px 0 13px 0;
    transition: 0.41s;
}


/*FIN FOOTER*/

/*INICIO TLFN*/
@media only screen and (max-width:600px) {

    /*Fin Header*/
    header {
        height: 205px;
    }

    .head .logo {
        height: 50px;
    }

    .menu-btn {
        display: block;
        color: white;
    }



    .menu ul {
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #ff5fa2;
        padding: 30px;
        opacity: .9;
        transform: translateX(-600px);
        transition: transform .5s ease-in-out;
    }

    .menu ul.nav-menu.show {
        transform: translateX(0px);
    }

    .menu ul li {

        padding: 10px;
    }

    /*Fin Header*/

    /*Inicio Section*/


    .titulo {
        font-size: 30px;
        margin: 0;

    }

    #titulo1 {
        font-size: 2.3rem;
    }

    #titulo2 {
        font-size: 2.3rem;
        margin: 0 10px 25px;
    }

    .carrusel_noticias {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

    }

    .card_noticias {
        height: 100%;
        width: 80%;
        margin-top: 10px;
        border: 2px solid #fccfa6;
        border-radius: 5%;
        padding: 15px;
        margin-top: 50px;
    }

    .card_noticias img {
        width: 100%;
        height: auto;
    }

    .infoNews {
        font-size: 1em;
        margin: 0 0 0 10px;
        width: 80%;
        font-size: 13px;
    }

    .infoNews p {
        margin: 15px 0;
        font-size: 14px;
    }



    .carrusel_fotos {
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .card_fotos {
        height: auto;
        width: 60%;

    }

    .card_fotos img {
        height: auto;
        width: 90%;

    }

    #img2 {
        position: relative;
        left: 30px;
        margin-top: 5px;
    }

    #doble {
        display: none;
    }



    /*FIN SECTION*/
    /*INICIO FOOTER*/


    #logoPP {
        width: 80px;
        height: auto;
    }

    .foot2 {
        border-left: 0px solid;
    }



    /*FIN FOOTER*/
}

/*FIN TLFN*/

@media only screen and (min-width:600px) {
    * {
        margin: 0;
        padding: 0;
    }

    /*Fin Header*/
    header {
        height: 385px;
    }

    .logo {
        height: 100px;
    }

    .head {
        background-image: url("../img/twice-alcohol-free-all-members-4k-wallpaper-3840x2160-uhdpaper.com-411.0_a.jpg");
        background-size: cover;
        width: auto;
    }

    .menu-btn {
        display: block;
        color: white;
        font-size: 20px;
    }



    .menu ul {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #ff5fa2;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-600px);
        transition: transform .5s ease-in-out;
    }

    .menu ul.nav-menu.show {
        transform: translateX(0px);
    }

    .menu ul li {
        color: #fe97a4;
        padding: 10px;
    }

    .menu ul li a {
        font-size: 18px;
    }

    /*Fin Header*/

    /*Inicio Section*/


    #titulo2 {
        margin: 25px 0 25px 0;
    }

    .carrusel_noticias {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card_noticias {
        width: 43%;
        height: 100%;
        padding: 15px;
        margin-top: 0;
        border: 2px solid #fccfa6;
        border-radius: 5%;

    }

    .card_noticias img {
        height: auto;
        width: 100%;
    }

    .infoNews {
        margin: 0 15px;
        font-family: 'IBM Plex Sans', serif;
        font-size: 14px;
        width: auto;
    }

    #noticia3 {
        margin-top: 65px;
    }

    .carrusel_fotos {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card_fotos {
        width: 50%;
        text-align: center;
    }

    .card_fotos img {
        height: 100%;
        width: 80%;
    }

    #doble {
        margin: 20px 0px;
    }

    #doble img {
        height: 100%;
        width: 90%;
        margin-top: 5px;
    }

    /*FIN SECTION*/

}

@media only screen and (min-width:1000px) {
    * {
        margin: 0;
        padding: 0;
    }

    /*Fin Header*/
    header {
        height: 725px;
    }

    .logo {
        height: 100px;
    }

    .head {
        background: url("../img/twice-alcohol-free-all-members-4k-wallpaper-3840x2160-uhdpaper.com-411.0_a.jpg") fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .menu-btn {
        position: absolute;
        right: 20px;
        cursor: pointer;
        display: none;
    }

    .menu ul {
        position: relative;
        background: none;
        padding: 0;
        transform: translateX(0);
    }

    .menu ul {
        font-size: 20px;
        list-style: none;
        list-style-type: none;
        display: flex;
        justify-content: end;
        margin-bottom: 0px;
    }

    .menu ul li {
        color: #fe97a4;
        padding: 5px;
    }

    .menu ul li a {
        text-decoration: none;
        font-size: 17px;
        padding: 0.5em;
        letter-spacing: 1px;
        font-family: 'Playfair Display', serif;
    }

    .menu ul li :hover {
        color: #fe97a4;
        border-radius: 15px;
        font-weight: bold;
        padding: 0 13px 0 13px;
    }





    /*Fin Header*/

    /*Inicio Section*/
    section {
        padding: 15px;
    }


    #titulo2 {
        margin-top: 25px;
    }

    .carrusel_noticias {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    .card_noticias {
        width: 30%;
        height: 100%;
        padding: 15px;
        margin-top: 0;
        border: 2px solid #fccfa6;
        border-radius: 5%;
    }

    .card_noticias img {
        height: auto;
        width: 100%;
        padding-bottom: 5px;
        border-bottom: 2px solid #ccc;

    }


    .infoNews p {
        margin: 15px 0;
        font-size: .9em;
    }

    #noticia3 {
        margin-top: 0px;
    }

    .carrusel_fotos {
        width: 100%;
        margin: 0.5%;
        padding: 0 3% 0 3%;
        display: flex;
        justify-content: space-between;
    }

    .card_fotos {
        width: 30%;
    }

    .card_fotos img {
        height: 100%;
        width: 100%;
    }

    #doble {
        margin: 0px;
    }

    #doble img {
        height: auto;
        width: 98%;
    }

    /*FIN SECTION*/
}

.foot2 {
    grid-area: foot2;
    border-left: 1px solid white;
}

.foot2 ul {
    list-style: none;

}

.foot2 ul li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot2 ul a {
    text-decoration: none;
    color: white;
    padding: 10%;
}

.foot2 ul li a:hover {
    color: #000000;
    border-radius: 15px;
    font-weight: bold;
    padding: 13px 0 13px 0;
    transition: 0.41s;
}